.vs
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties

# Avoid ignoring Maven wrapper jar file (.jar files are usually ignored)
!/.mvn/wrapper/maven-wrapper.jar
/ProyectoIntegracionBiocentro/CapaDatos/bin
/ProyectoIntegracionBiocentro/CapaDatos/obj
ProyectoIntegracionBiocentro/CapaDTO/bin
ProyectoIntegracionBiocentro/CapaDTO/obj
ProyectoIntegracionBiocentro/CapaNegocio/bin
ProyectoIntegracionBiocentro/CapaNegocio/obj
ProyectoIntegracionBiocentro/CapaPresentacion/bin
ProyectoIntegracionBiocentro/CapaPresentacion/obj
ProyectoIntegracionBiocentro/WindowsFormsApp1/bin
ProyectoIntegracionBiocentro/WindowsFormsApp1/obj