<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WebServiceClienteSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WebServiceClienteSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44384/WebServiceCliente.asmx"
                binding="basicHttpBinding" bindingConfiguration="WebServiceClienteSoap"
                contract="ServiceCliente.WebServiceClienteSoap" name="WebServiceClienteSoap" />
        </client>
    </system.serviceModel>
</configuration>