.body-container{
    min-height: 60vh;
}

.navbar{
    font-size: 1em;
    font-weight: 600;
}
.navbar-brand {
    padding: 0px;
    width: 14em;
    background-color: white;
}

    .navbar-brand > img {
        height: 100%;
        width: auto;
    }

.navbar-default {
    background-color: white;
}

.site-footer {
    background-color: #26272b;
    padding: 20px 0 10px;
    font-size: 15px;
    line-height: 24px;
    color: #737373;
}

    .site-footer hr {
        border-top-color: #bbb;
        opacity: 0.5
    }

        .site-footer hr.small {
            margin: 15px 0
        }

    .site-footer h6 {
        color: #fff;
        font-size: 16px;
        text-transform: uppercase;
        margin-top: 5px;
        letter-spacing: 2px;
        font-weight: 600;
    }

    .site-footer a {
        color: #737373;
    }

        .site-footer a:hover {
            color: #3366cc;
            text-decoration: none;
        }

.footer-links {
    padding-left: 0;
    list-style: none
}

    .footer-links li {
        display: block
    }

    .footer-links a {
        color: #737373
    }

        .footer-links a:active, .footer-links a:focus, .footer-links a:hover {
            color: #3366cc;
            text-decoration: none;
        }

    .footer-links.inline li {
        display: inline-block
    }

.site-footer .social-icons {
    text-align: right
}

    .site-footer .social-icons a {
        width: 40px;
        height: 40px;
        line-height: 40px;
        margin-left: 6px;
        margin-right: 0;
        border-radius: 100%;
        background-color: #33353d
    }

.copyright-text {
    margin: 0
}

@media (max-width:991px) {
    .site-footer [class^=col-] {
        margin-bottom: 30px
    }
}

@media (max-width:767px) {
    .site-footer {
        padding-bottom: 0
    }

        .site-footer .copyright-text, .site-footer .social-icons {
            text-align: center
        }
}

.social-icons {
    padding-left: 0;
    margin-bottom: 0;
    list-style: none
}

    .social-icons li {
        display: inline-block;
        margin-bottom: 4px
    }

        .social-icons li.title {
            margin-right: 15px;
            text-transform: uppercase;
            color: #96a2b2;
            font-weight: 700;
            font-size: 13px
        }

    .social-icons a {
        background-color: #eceeef;
        color: #818a91;
        font-size: 16px;
        display: inline-block;
        line-height: 44px;
        width: 44px;
        height: 44px;
        text-align: center;
        margin-right: 8px;
        border-radius: 100%;
        -webkit-transition: all .2s linear;
        -o-transition: all .2s linear;
        transition: all .2s linear
    }

        .social-icons a:active, .social-icons a:focus, .social-icons a:hover {
            color: #fff;
            background-color: #29aafe
        }

    .social-icons.size-sm a {
        line-height: 34px;
        height: 34px;
        width: 34px;
        font-size: 14px
    }

    .social-icons a.facebook:hover {
        background-color: #3b5998
    }

    .social-icons a.twitter:hover {
        background-color: #00aced
    }

    .social-icons a.linkedin:hover {
        background-color: #007bb6
    }

    .social-icons a.dribbble:hover {
        background-color: #ea4c89
    }

@media (max-width:767px) {
    .social-icons li.title {
        display: block;
        margin-right: 0;
        font-weight: 600
    }
}

hr{
     border-top: 1px solid #cecece;
}

.placeholder
{
    font-size: 0.9em;
    color: darkgrey;
}

.placeholder.error
{
    color:red;
}

h3 {
    font-size: 1.5em;
    font-weight: 600;
    color: #5c768c;
}

h4 {
    font-size: 1.2em;
    font-weight: 600;
    color: #6f9b4d;
}

h5 {
    font-size: 1.05em;
    font-weight: 600;
    color: #6f9b4d;
}

label, .label {
    font-size: 0.9em;
    font-weight: 600;
    color: dimgray;
}

.text-md{
    font-size: 1.2em;
}


.m-b-md {
    margin-bottom: 15px;
}

.m-t-md {
    margin-top: 15px;
}

.m-t-lg {
    margin-top: 25px;
}

.m-l-md {
    margin-left: 15px;
}

.m-t-sm {
    margin-top: 5px;
}

.p-t-sm {
    padding-top: 10px;
}

.separador-lg {
    margin-bottom: 50px;
}

.separador-md {
    margin-bottom: 25px;
}

.separador-sm {
    margin-bottom: 10px;
}

.centered{
    margin: auto;
}

.col-centered {
    float: none;
    margin: 0 auto;
}

table.table-design {
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0;
    padding: 0;
    width: 100%;
    table-layout: fixed;
}

    table.table-design caption {
        font-size: 1.5em;
        margin: .5em 0 .75em;
    }

    table.table-design tr {
        background-color: #f8f8f8;
        border: 1px solid #ddd;
        padding: .35em;
    }

    table.table-design th,
    table.table-design td {
        padding: .625em;
        text-align: center;
    }

    table.table-design th {
        font-size: .85em;
        letter-spacing: .1em;
    }

@media screen and (max-width: 600px) {
    table.table-design {
        border: 0;
    }

        table.table-design caption {
            font-size: 1.3em;
        }

        table.table-design thead {
            border: none;
            clip: rect(0 0 0 0);
            height: 1px;
            margin: -1px;
            overflow: hidden;
            padding: 0;
            position: absolute;
            width: 1px;
        }

        table.table-design tr {
            border-bottom: 3px solid #ddd;
            display: block;
            margin-bottom: .625em;
        }

        table.table-design td {
            border-bottom: 1px solid #ddd;
            display: block;
            font-size: .8em;
            text-align: right;
        }

            table.table-design td::before {
                /*
    * aria-label has no advantage, it won't be read inside a table
    content: attr(aria-label);
    */
                content: attr(data-label);
                float: left;
                font-weight: bold;
                text-transform: uppercase;
            }

            table.table-design td:last-child {
                border-bottom: 0;
            }
}

table.table-design tr {
    -moz-transition: background-color 300ms ease-in-out 0s;
    -ms-transition: background-color 300ms ease-in-out 0s;
    -o-transition: background-color 300ms ease-in-out 0s;
    -webkit-transition: background-color 300ms ease-in-out 0s;
    transition: background-color 300ms ease-in-out 0s;
}

table.table-design tr:hover {
    background-color: #c8fc8d;
}